.first-box-container{
    width: 200px;
    height: 100px;
    background-color: red;
    position: absolute;
    border-color: green;
    border-width: 10px; 
    line-height: 50px;
    text-align: center;
    color: blue;
    border-style: solid;
}

.second-box-container{
    width: 200px;
    height: 100px;
    background-color: yellow;
    position: absolute;
    left: 250px;
    border-color: red;
    border-width: 10px;
    line-height: 50px;
    text-align: center;
    color: blue;
    border-style: solid;   
}

.third-box-container{
    width: 200px;
    height: 100px;
    background-color: green;
    position: absolute;
    left: 500px;
    border-width: 10px;
    line-height: 50px;
    color: blue;
    text-align: center;
    border-style: solid;
    border-color: yellow;
}